@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Comforter+Brush&display=swap');

* {
    margin: 0;
    padding: 0;
    }

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
/* Background image and logo CSS */


.image{
    width:30%;
    height: 100%;
    position: relative;

}
.bgimage{
    width: 100%;
    height: 100%;
}
.logo-track{
    width:100%;
    height:15%;
    background:rgba(255,255,255, 0.7);
    position:absolute;
    top: 40%;
    left: 0%;
    display: flex;
    align-items:center;
}
.logo{
    height:80%;
    margin-bottom: 10px;
}
.name{
    font-family: 'Alkalami', serif;
    font-family: 'Comforter Brush', cursive;
    font-size: 50px;
    margin-left: 18%;
    margin-top: 10px;

/* Form CSS */


}
.form-container{
    width:70%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}
/* Form header */

.form-header{
        width: 100%;
        height: 30%;
        background:#f9bb82;

    }
.header-text{
    height: 100%;
    width:50%;
    font-size: 18px;
    margin-top: 5%;
    margin-left: 5%;
    color: #2a3552;
}
.header-text>p{
    margin-top: 20px;
}
/* Form and input containers */

.form{
    height: 70%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #2a3552;

}
.inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.form-row{
    display: flex;
    width: 100%;
    gap: 10%;
    justify-content:flex-start;
}
.form-row div{
    display: flex;
    flex-direction: column; 
    font-size: 12px;
    font-style: italic;
    gap: 2px;
}
.inputs-container{
    height: 70%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
.inputs-container>p{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 15px;
    color:#2a3552;
}
.button-container{
    width:100%;
    height:30%;
    background:#2a3552;
    margin-top: auto;
    box-shadow: 0 0 5px #2a3552;
}
.submit{
    margin-left: 5%;
    margin-top: 5%;
}

/* Input CSS */


input{
    width: 200px;
    height: 30px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #2a3552;
}

input:focus{
    outline: none;
    border:1px solid #2a3552;
    box-shadow: 0 0 3px#2a3552;
    padding-left: 4px;
    }
button{
    background:#f9bb82;
    border-radius: 5px;
    color: #2a3552;
    width: 200px;
    height: 40px;
    border: non;
}

@media screen and (min-width: 2000px) {
    .image{
        width:20%;
        height: 100%;
    }
    .form-container{
        width:80%;
        height: 100%;
  }
}